#Ignore files build by Visual Studio
*.dll
dlldata.c
*.obj
*.exe
*.exp
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in/
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.xap
*.out

gamedata/
*.pidb
*.userprefs

# These are typically configured locally and shouldn't be checked in.
impexporter/config.xml
connectionStrings.config
