body {
	padding: 0px 0px 0px 0px;
}
.header-box {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	position: relative;
}
h1 {
	font-size: 14pt;
	font-weight: bold;
	font-family: Tahoma, Verdana, Sans-Serif;
	background-color: #336;
	color: #888;
	margin: 0px 0px 0px 0px;
	padding: 2px 2px 2px 2px;
}
/* .spinner {
	display: none;
	position: absolute;
	right: 0px;
	top: 0px;
	background-image: url(/Content/chakram-spinner-000.gif);
	background-position: left center;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
} */

* :focus { outline: 0; }
