#sidebar-content {
	background-color: #358;
	padding: 8px 8px 8px 8px;
	margin: 8px 8px 8px 8px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	box-shadow: 0px 3px 8px 2px #202020 inset;
			/*box-shadow: inset 0 1px 0 rgba(68, 68, 68, .5), 0 3px 8px rgba(0, 0, 0, .075); */
	color: #ccc;
}
	
#sidebar-content .player-name {
	color: #bbb;
	font-size: 10pt;
	text-align: center;
}

#sidebar-content .room-name {
	color: #fff;
	font-weight: bold;
	font-size: 16pt;
	text-align: center;
}

#sidebar-content .room-image {
	text-align: center;
}
	
#sidebar-content .top-box {
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 10px 0px;
	border-bottom: 1px solid #ccc;
}
	
#sidebar-content .room-box {
}
	
#sidebar-content .room-mob-header {
	font-weight: bold;
	color: #fff;
}
	
#sidebar-content .room-mob-name {
}

#sidebar-content .room-desc {
	margin-top: 10px;
}
