<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >

<body>
    <div>
		@for(int i=0; i<5000; ++i) {
			@Html.Raw("quux ");
		}

		<div class="modalpopup">
			<div class="title">
				<div class="left">Editing: #5.look[code]</div>
				<div class="right"><input class="savebtn" type="button" value="Save"></input><input class="cancelbtn" type="button" value="Cancel"></input></div>
			</div>
			<div class="body">
				<textarea>
yay yay some code yay
here's some more stuff
woohoo!
				</textarea>
			</div>
		</div>
    </div>
</body>
</html>

