<!--
	CliMOO - Multi-User Dungeon, Object Oriented for the web
	Copyright (C) 2010-2014 Kayateia

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see http://www.gnu.org/licenses/.
-->

<style type="text/css">
	#objeditor label {
		width: 15%;
	}
	#objeditor input {
		width: 83%;
	}
	#objeditor textarea {
		height: 50vh;
		width: 83%;
	}
</style>

<div id="objeditor" class="modal fade" data-backdrop="false">
	<div class="modal-dialog editor-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<form>
					<input name="id" class="editid" type="hidden" value="" />
					<div class="form-row">
						<label for="name">Name</label>
						<input id="name" class="editname" type="text" value="" />
					</div>
					<div class="form-row">
						<label for="pathid">Path ID</label>
						<input id="pathid" class="editpath" type="text" value="" />
					</div>
					<div class="form-row">
						<label for="parent">Parent</label>
						<input id="parent" class="editparent" type="text" value="" />
					</div>
					<div class="form-row">
						<label for="desc">Description</label>
						<textarea id="desc" class="editdesc"></textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Cancel</button>
				<button type="button" class="btn btn-primary savebtn">
					Save</button>
			</div>
		</div>
	</div>
</div>
