@model dynamic
<!DOCTYPE html>
<html lang="en">
<head>
<!--
	CliMOO - Multi-User Dungeon, Object Oriented for the web
	Copyright (C) 2010-2014 Kayateia

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see http://www.gnu.org/licenses/.
-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=500, height=300, user-scalable=no">

	<link rel="stylesheet" type="text/css" href="/Content/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/Content/game.css" />
	<link rel="stylesheet" type="text/css" href="/Content/modalpopup.css" />
	<style type="text/css">
		body {
			background-color: #224;
		}
		label {
			width: 25%;
		}
		input {
			height: 25px;
			width: 73%;
		}
		input[type=text] {
			color: #000;
		}
		input[type=file] {
			display: inline;
		}
		input[type=submit] {
			display: none;
		}
	</style>
</head>
<body class="editor-dialog">
	<form enctype="multipart/form-data" method="post" action="/Game/SetBinaryAttribute">
		<div class="form-row">
			<label for="objectId">Object name</label>
			<input type="text" id="objectId" name="objectId" />
		</div>
		<div class="form-row">
			<label for="name">Attribute</label>
			<input type="text" id="name" name="name" />
		</div>
		<div class="form-row">
			<label for="mimetype">MIME type (optional)</label>
			<input type="text" id="mimetype" name="mimetype" />
		</div>
		<div class="form-row">
			<label for="fileData">File</label>
			<input type="file" id="fileData" name="fileData" />
		</div>
		<input id="submitbtn" type="submit" value="Save" />
	@if (!Model.initial) { 
		<p>Result:</p>
		<p>@Model.message</p>
	} 
	</form>
</body>
</html>
