<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kayateia.Climoo.MooCore.Properties.Settings.climooConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=climoo-tc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>